@font-face {
    font-family: 'Vazir-Light';
    src: url('../fonts/Vazir-Light.eot?#') format('eot'),  /* IE6–8 */
        url('../fonts/Vazir-Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/Vazir-Light.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

body{
    font-family: 'Vazir-Light';
    direction: rtl;
}